In [10]:
import pandas as pd
import numpy as np
from ggplot import *
import matplotlib.pyplot as plt
from datetime import datetime
import dateutil.parser
pd.options.display.mpl_style = 'default'

C:\Users\lioncare\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2881: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [12]:
pd.set_option('display.max_columns', 80)
pd.set_option('expand_frame_repr', True)

In [13]:
data_path = '~/Associate_June2017_Data'

In [16]:
df=pd.read_csv(data_path+'/saving_habits.csv', low_memory=False, encoding = "ISO-8859-1")
df=pd.read_csv(data_path+'/demographics.csv', low_memory=False, encoding = "ISO-8859-1")

In [ ]:
#df = df stands for dataframe. it is common practice, because you will have to keep writing out the name of the dataset again and again. helps keep it short and clear.

In [18]:
df.head (2)

,surveyid,demob2,demob3,demob4,demob5,demob6,demob6_other,demob7,demob8,demob8_other,demob9,demob9_other,demob10,demob11,demob11_other,demob12,demob13,demob15,demob16
0,' 1112',Male,'24',Single,College Year 3,Unemployed and searching for work,NaN,No,Refused to answer to answer,NaN,NaN,NaN,Refused to answer,Islam,NaN,717298808,717298808,717298808,717298808
1,' 1113',Female,'30',Married,Form 4,Housewife,NaN,No,Cash,NaN,Not Applicable,NaN,Refused to answer,Islam,NaN,717531771,717531771,717531771,717531771

In [32]:
# resource for merging at https://chrisalbon.com/python/pandas_join_merge_dataframe.html
# and https://www.youtube.com/watch?v=h4hOPGo4UVU
# and http://www.shanelynn.ie/merge-join-dataframes-python-pandas-index-1/

In [33]:
result = pd.merge (demographics, saving_habits, on='surveyid')

NameError: name 'demographics' is not defined